
{% extends 'navbar.html' %}
{% load static%}

{% block content %} 
<link rel="stylesheet" href="{% static 'home.css' %}">


<div class="search">
    <form action="usearch" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ request.user }}" placeholder="Search Rooms...">
        <input class="search-bar" type="text" name="search" placeholder="Search Rooms..." autofocus x-webkit-speech />
        
        <button class="btn btn-primary" type="submit"  value="submit">submit</button>
    </form>
</div>



<div class="room-keyword">

    <!-- keyword section  -->
    <div>
        <h3>All keyword:</h3>
        {% for keyword in keywords %}
             <p>{{ keyword.name }}  ({{ keyword.total_search }} times found)</p>
             <!-- <p>Total User: {{ keyword.search_keyword_users.count }}</p> -->
        {% endfor %}
    </div>

    <!-- All user serction  -->
    <div>

        <h3>All User</h3>
        {% for user in users %}
            <p><a class="content" href="{% url 'everyusersearch' user.id %}">{{ user.username }} </a></p>
            <!-- <button class="content" data-url="{% url 'everyusersearch' user.id %}">{{ user.username }} </button> -->

        {% endfor %}
              

    </div>

    <!-- Time range  -->
    <div>
        <h3> Time Range:</h3>
        <p>Total data: {{ result.total }} </p>
        <p> data from yesterday: {{ result.yesterday }} </p>
        <p>data form last 7 days: {{ result.last_7_day }} </p>
        <p>data form last 30 days: {{ result.last_7_day }} </p>
    </div>

</div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script>
        $('.content').on('click',function(){
            $.ajax({
                url: $('content').data('url'),
                type: 'GET',
                dataType: 'json',
                success: function(resp){
                    $(".content").html(resp);
                },
                error: function(resp){
                    console.log('something went wrong')
                }
            });
        });
    </script> -->


{% endblock %}
